{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block metas %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block styles %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

{% endblock %}
{% block scripts %}
<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript">
$('#login-modal').on('shown.bs.modal', function () {
     $('#username').focus();
});
</script>
{% endblock %}
{% block title %}Buy Corona Masks{% endblock %}
{% block content %}

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Best Masks Around!</a>
        </div>
        {% if user: %}
        <p class="navbar-text navbar-right">
            <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
            <span style="padding-left: 5px;">{{ user }}  ( <a href="logout">sign out</a> )</span>
        </p>
        {% else %}
        <button type="button" class="btn btn-default navbar-btn navbar-right" data-toggle="modal" href="#login-modal">Sign in</button>
        {% endif %}
    </div>
</nav>

    
<div id="login-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Please sign in</h4>
        </div>
        <div class="modal-body">
          <form method="post" action='login' name="login_form">
            <p><input type="text" class="form-control" name="username" id="username" placeholder="User Name"></p>
            <p><input type="password" class="form-control" name="passwd" placeholder="Password"></p>
            <p>
               <button type="submit" class="btn btn-primary">Sign in</button>
               <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </p>
          </form>
        </div>
      </div>
  
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row-ml2">
      <h1> Add a mask</h1>
      <div class="col-sm-12">
        {{ wtf.quick_form(form, action="submit", 
                          method="post", 
                          extra_classes=None, 
                          role="form", 
                          form_type="horizontal", 
                          horizontal_columns=('sm', 2, 4), 
                          enctype="multipart/form-data", button_map={}, id="add") }}
      </div>
    </div>
  </div>
  <div><br>
  </div>
 
<div class="container-fluid">
<div class = "row-ml-2">
  <div class="card-block">
      {% for mask in masks._items %}
      <div class = "col-sm-3">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <img class="card-img-top" height=120 width=120 src="static/img/{{ mask.picture }}" alt={{ mask.name }}>
            <h5 class="card-title">{{mask.name}}</h5>
            <p class="card-text">{{mask.type}}</p>
            <a href="/" class="btn btn-primary">BUY</a>
          </div>
        </div>
      </div>
          {% endfor %}
        </div>
  </div>
</div>
</div>

  {% endblock %}